@model string

<!-- TODO: Customise label to include a humanized display name (e.g. use a ModelMetadataProvider) --> 
<label asp-for="@Model" class="m-b-none"></label>
<span asp-description-for="@Model" class="help-block m-b-none small m-t-none"></span>
<div class="input-group">
    <input asp-for="@Model" class="form-control"/>
    <partial name="_ValidationIcon"/>
</div>
<span asp-validation-for="@Model" class="validation-message"></span>